# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
build/

# Virtual env
.env
.venv/
venv/

# Caches
.pytest_cache/
.mypy_cache/
.cache/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
